.map-marker {
  height: 15px;
  width: 100px;
  left: -10px;
  top: -20px;
  position: absolute;
  &--infowindow {
    position: absolute;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: 30px;
    width: fit-content;
    background: #fff;
  }
}
