.gmnoprint {
  right: 0px;
  bottom: 10px;
  top: unset !important;
  left: unset !important;
}
.gm-bundled-control {
  right: 0px !important;
}
.map-marker {
  position: absolute;
  height: 20px;
  width: 100px;
  left: -10px;
  top: -20px;
  .info-window {
    background-color: $color-white;
    position: relative;
    min-height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
    font-size: small;
    z-index: 1;
    @extend .shadow;
    .close {
      position: absolute;
      right: 5px;
      top: 3px;
      font-size: small;
      color: $color-grey;
      :hover {
        color: skyblue;
      }
    }
  }
}
