.sidebar__search-bar {
  background-color: #fff;
  position: absolute;
  width: 98%;
  border-radius: 10px;
  overflow: hidden;
  @extend .shadow;
  .search-box {
    overflow: hidden;
    height: 40px;
    width: 92%;
    font-size: 16px;
    padding: 0px 10px;
    border: none;
    margin: 5px 7px;
    &::focus {
      border: none;
    }
  }
}
